*{
	margin:0;
	padding:0;
	font-family:sans-serif;
}

.navbar{
	background:rgba(66,66,255,0.8);
	width:80%
	margin:auto;
	padding: 30px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	width: 120px;
	cursor: pointer;
}
.navbar ul li{
	list-style:none;
	display:inline-block;
	margin:0 20px;
	position:relative;
	font-weight:bold;
}
.navbar ul li a{
	text-decoration:none;
	color:#fff;
	text-transform:uppercase;
}
.navbar ul li::after{
	content:'';
	height:2px;
	width:0%;
	background:#009688;
	position:absolute;
	left:0;
	bottom:-10px;
	transition:0.5s;
}
.navbar ul li:hover::after{
	width:100%;
}
body{
	background-image:linear-gradient(rgba(66, 66, 255, 0.8),rgba(66, 66, 255, 0.8)),url(gif.GIF);
	background-size:100% 100%;
}
.header H3{
	text-align:center;
	color:#000;
	-webkit-text-stroke:1px YELLOW;
	font-size:1.5em;
	letter-spacing:2px;
	line-height:2em;
}
