html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(fgb.png);
  background-size:100% 100%;
}
.form-signin h1{
	color:white;
}
.navbar{
	TOP:0;
	width:80%
	margin:auto;
	padding: 30px 0;
	display: flex;
	align-items:TOP;
	justify-content: space-between;
}
.logo{
	width: 120px;
	cursor: pointer;
}
.navbar ul li{
	list-style:none;
	display:inline-block;
	margin:0 20px;
	position:relative;
	font-weight:bold;
}
.navbar ul li a{
	text-decoration:none;
	color:#fff;
	text-transform:uppercase;
}
.navbar ul li::after{
	content:'';
	height:2px;
	width:0%;
	background:#009688;
	position:absolute;
	left:0;
	bottom:-10px;
	transition:0.5s;
}
.navbar ul li:hover::after{
	width:100%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
